.box{
    width: 90%;
    margin: 0px auto;
    display: flex;
    gap: 1rem;

}

.holder{
    width: 64.4rem;
}
.holder img{
    width: 100%;
}

.adsimage img{
    width: 104%;
}
.body{
    width: 90%;
    margin: 3rem auto;
}
.body h1{
    font-size: 2rem;
    font-family: serif;
    font-weight: 600;
}
.cat{
    display: flex;
    gap: 1rem;
}
.cat > * {
    flex: 1 1 15%;
}
.cat img{
    width: 100%;
}
.nav{
    cursor: pointer;
}
.nav p{
    font-size: 1.2rem;
    margin: 1rem 0;
}
.hq{
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 auto;
}
.hq img{
    width: 95%;
}
.x4{
    flex-basis: 33.333%;
}
.x1 div{
    margin-bottom: 5px;
}
.x1{
    flex-basis: 16.66%;
}
.op{
    margin-top: 1rem;
}
@media (max-width: 1000px){
    .holder{
        width: 50rem;
    }
    .adsimage{
        display: none;
    }
}